/* Jonas Scale */
/*  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* ******************** */
/* Spaces */
/* ******************** */
/* 
  2 / 4 / 8 / 12 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
.header {
  margin-bottom: 4.4rem;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 4.4rem;
  letter-spacing: 1.8rem;
  color: var(--card-text-color-hover);
}

.icon-theme {
  cursor: pointer;
}
