.items {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.card--item {
  border-bottom: 0.1px solid var(--extreme-dark-grayish-blue);
  cursor: pointer;
}

.card--item:hover {
  color: var(--light-grayish-blue-hover);
}

.card-text {
  /* text-align: center; */
  margin-bottom: -4px;
}

.card-text--crossed {
  color: var(--very-dark-grayish-blue);
  text-decoration: line-through;
}

.icon-cross {
  margin-left: auto;
  opacity: 0;
  transition: all 200ms;
}

.card--item:hover .icon-cross {
  opacity: 1;
}

.card--footer {
  font-size: 1.6rem;
  color: var(--very-dark-grayish-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.btn-text {
  background: none;
  border: none;
  color: var(--very-dark-grayish-blue);
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.btn-text:hover {
  color: var(--light-grayish-blue);
}

.btn-text.filter--active {
  color: var(--bright-blue);
}

.checkbox-wrap {
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--extreme-dark-grayish-blue);
  cursor: pointer;
  padding: 1px;
}

.checkbox-wrap:hover {
  background: var(--check-background);
}

.checkbox {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background: var(--very-dark-desaturated-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox--active {
  background: var(--check-background);
}

.checkbox-icon {
  opacity: 0;
}

.checkbox--active .checkbox-icon {
  opacity: 1;
}

.filter-mobile {
  display: none;
}
