:root {
  /* Primary */
  --bright-blue: rgb(58, 123, 253);
  --check-background: linear-gradient(
    to top,
    rgb(87, 221, 255),
    rgb(192, 88, 243)
  );
  /* Light Theme */
  --very-light-gray: rgb(250, 250, 250);
  --very-light-grayish-blue: rgb(228, 229, 241);
  --light-grayish-blue-first: rgb(209, 210, 219);
  --dark-grayish-blue-first: rgb(147, 148, 165);
  --very-dark-grayish-blue-first: rgb(72, 75, 106);

  /* Dark Theme*/
  --reddish-white: #fff5f5;
  --very-dark-blue: rgb(22, 23, 34);
  --very-dark-desaturated-blue: rgb(37, 39, 60);
  --light-grayish-blue-second: rgb(202, 205, 232);
  --light-grayish-blue-second-hover: rgb(228, 229, 241);
  --dark-grayish-blue-second: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-second: rgb(77, 80, 102);
  --extreme-dark-grayish-blue: rgb(57, 58, 76);

  /* Fonts */
  --weight-normal: 400;
  --weight-bold: 700;

  --size-normal: 1.8rem;

  --background-transition: background 0.5s ease;
  --color-transition: color 0.5s ease;
}

.light-theme {
  --title-color: var(--light-grayish-blue-second-hover);
  --background-color: var(--very-light-grayish-blue);
  --card-background-color: var(--very-light-gray);
  --card-text-color: var(--very-dark-grayish-blue-first);
  --card-text-color-hover: var(--very-dark-grayish-blue-first);
  --card-secondary-color: var(--dark-grayish-blue-first);
  --border-color: var(--light-grayish-blue-first);
  --button-hover: var(--very-dark-grayish-blue-first);
  --checkbox-border: var(--light-grayish-blue-first);
  --validation-msg-color: #fff;
  --validation-msg-shadow: var(--bright-blue);
}

.dark-theme {
  --title-color: var(--light-grayish-blue-second-hover);
  --background-color: var(--very-dark-blue);
  --card-background-color: var(--very-dark-desaturated-blue);
  --card-text-color: var(--light-grayish-blue-second);
  --card-text-color-hover: var(--light-grayish-blue-second-hover);
  --card-secondary-color: var(--very-dark-grayish-blue-second);
  --border-color: var(--extreme-dark-grayish-blue);
  --button-hover: var(--light-grayish-blue-second);
  --checkbox-border: var(--extreme-dark-grayish-blue);
  --validation-msg-color: var(--reddish-white);
  --validation-msg-shadow: var(--reddish-white);
}
